<%- include partials/header.ejs %>
  <div class="container">
    <div class="jumbotron">
      <h1 class="text-center">Success! You have created a certificate.</h1>
    </div>
    <pre>
      <code>
        <%= cert %>
      </code>
    </pre>
    <pre>
      <code>
        <%= key %>
      </code>
    </pre>
    <form method="POST" action="/register">
      <h3>Register As a Lockr Partner</h3>
      <div class="form-group">
        <label>Register with Email</label>
        <input name="email" type="text" class="form-control" placeholder="Email">
      </div>
      <button class="btn btn-success" type="Submit">Submit</button>
    </form>
  </div>
</body>
</html>