<!DOCTYPE html>
<html>
<head>
  <title>Lockr Demo</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <h1>Lockr for Node</h1>
    <form method="POST" action="/getcert">
      <div class="form-group">
        <label>Create a Cert</label>
        <input name="key" type="text" class="form-control" placeholder="Enter key text">
        <button class="btn btn-success" type="Submit">Submit</button>
      </div>
    </form>
  </div>
</body>
</html>