<%- include partials/header.ejs %>
  <div class="container">
    <h1 class="text-center">Create an SSL Certificate</h1>
    <form method="POST" action="/getcert">
      <div class="form-group">
        <label>Create a Cert</label>
        <input name="key" type="text" class="form-control" placeholder="Enter key text">
      </div>
      <button class="btn btn-success" type="Submit">Submit</button>
    </form>
  </div>
</body>
</html>