<%- include partials/header.ejs %>
  <div class="container">
    <div class="jumbotron">
      <h3 class="text-center"><%= text %></h3>
    </div>
    <form method="POST" action="/deletekey">
    <% if (!deleted) { %>
      <div class="form-group">
        <label>Delete Key</label>
        <input name="keyName" type="text" class="form-control" placeholder="Enter name of key to delete">
      </div>
      <button class="btn btn-danger">Delete</button>
    </form>
    <% } else { %>
      <a href="/createkeys" class="btn btn-info">Create Another Key</a>
    <% } %>
  </div>
</body>
</html>